@import 'prism';

body { font-family: "Palatino Linotype", "Palatino", "Times New Roman", serif }
html, body { color: #363636 }
* {
    transition: font-size 0.3s ease, padding 0.3s ease;
    box-sizing: border-box;
}


a, a:hover, a:active, a:focus { -webkit-tap-highlight-color: rgba(0,0,0,0) }
a, a:visited { color: #363636 }
a:active { color: lighten(black, 75%) }

::selection {
    color: white;
    background-color: black;
}

.all-container {
    display: flex;
}

.nav-bar, .body-container { padding: 5rem }

.body-container {
    padding: 3rem 5rem;
    font-size: 1.3rem;
    img {
        max-width: 650px;
    }
      max-width: 800px;
}

.nav-bar {
  padding-right: 1rem;
}

.home .home-link, .demo .demo-link, .team .team-link, .connect.four .conn-link, .mcts .mcts-link, .minimax .mnmx-link, .performance .perf-link, .bibliography .bibl-link { color: #549ffe; }

@media (max-width: 1000px) {
    .body-container { padding: 0 }
    .nav-bar { padding: 0 }
}


@media (max-width: 825px) {
    .all-container { flex-direction: column }
    .nav-bar { ul { padding: 0 } }
    .body-container { padding: 10px }
}

  /* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 825px)
  and (-webkit-min-device-pixel-ratio: 3) {
     .all-container {
        flex-direction: column;
    }
    .nav-bar {
        padding-bottom: 0px;
    }
}
